@use "../variables" as variable;
@forward '../components/_about/';

.about {
  padding: 1rem;

  &__hero {
    .title {
      font-size: clamp(1.4rem, 12vw, 2rem);
      text-align: center;
      padding-top: 1rem;
      display: none;

      .company {
        color: variable.$secondary;
      }
    }
  }

  &__container {
    padding: 0 1rem 1rem 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    margin-top: 2rem;

    .img__container {
      width: 100%;
      overflow: hidden;
      max-width: 600px;
      min-width: 500px;
      border-radius: 5px;
      // min-height: 200px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.162);
      // clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);

      &__placeholder {
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    @media (max-width: 935px) {
      flex-direction: column;
      gap: 2rem;
    }

    @media (max-width: 480px) {
      .img__container {
        min-width: 200px;
      }
    }
  }

  &__content {
    min-width: 25ch;
    max-width: 45ch;
    font-size: 1.1rem;

    @media (max-width: 860px) {
      max-width: 600px;
    }

    @media (max-width: 450px) {
      min-width: 100px;
      width: 100%;
    }

    .shot__para {
      margin-bottom: 4rem;
    }
  }

  .works {
    width: 100%;
    overflow: hidden;
    margin-top: 2rem;
    // padding: 0 2rem;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 200px;
      background-color: variable.$secondary;
      border-radius: 80px;
      position: absolute;
      z-index: -5;
      top: 50%;
      left: 0;
      transform-origin: center;
      transform: translateY(-50%);

      @media (max-width: 450px) {
        height: 390px + 390px;
        transform: translateY(-50%) rotate(75deg);
      }
    }

    .cards {
      display: flex;
      justify-content: space-between;
      gap: 3rem;
      margin-top: 2rem;
      position: relative;
      transform: translateX(-50%);
      left: 50%;
      width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      padding: 1rem;
      scroll-behavior: smooth;
      user-select: none;
      scrollbar-width: none;
      cursor: grab;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    @media (max-width: 450px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.maxWidth {
  max-width: 1400px;
  margin-inline: auto;
}