@use "../variables" as v;

.container {
  max-width: 1400px;
  margin-inline: auto;
  padding-bottom: 4rem;
  text-align: center;

  .contain {
    .title {
      color: v.$secondary;
      font-size: 2rem;
      font-weight: 900;
      padding-bottom: 4rem;
      margin-left: 1.2rem;

      @media (max-width: 400px) {
        font-size: 1.6rem;
      }
    }
  }

  .btn {
    background-color: v.$secondary;
    color: white;
    text-decoration: none;
    padding: 0.7rem 2rem;

    &:hover {
      background-color: darken($color: v.$secondary, $amount: 10);
    }
  }

  .clients {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    // background-color: red;
    margin-bottom: 4rem;
    gap: 1rem;
    .client {
      img {
        object-fit: cover;
      }
      width: 200px;
      transition: box-shadow 250ms, transform 200ms;
      &:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.323);
      }
    }
  }
}
